footer {
  margin-top: 2%;
  margin-bottom: 0%;
  padding: 1%;
  background-color: #001011;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footerIcons {
  width: 80%;
}
.footerIcons i {
  margin: 0% 10px;
  color: #c2c1a5;
}

.hrFooter {
  width: 15%;
}

.footer {
  color: #c2c1a5;
}
